body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em 0;
}

main {
    margin: 2em 0 0 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color:#DE7504;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 600;
}
.lead{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
}

a {
    color: #DE7504;
    font-weight: 700;
}

/* header */
header {
    text-align: center;
}

header img {
    width: 30%;
}

header p {
    color: #7C7063;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    padding: 1em 0 0 0;
}

nav a,
header p {
    font-size: .75em;
}


.lead {
    margin: 0 0 2em 0;
}

/* callout box */
.callout {
    background-color: #FBEBD9;
    font-size: .9em;
    /* width:75%; */
    /* border: 3px solid black; */
    padding: 2em 1em;
    margin: 0 0 1em 0;
    /* margin: 1em 0; */
}

.callout h3 {
    
    font-size: 1em;
    font-weight: 600;
}

/* footer */
footer {
    text-align: center;
}