body{
    font-size:16px;
    font-family: 'Barlow', sans-serif;
}

h1{
    font-family: 'Mooli', sans-serif;
    letter-spacing:-5px;
    text-transform: uppercase;
}

h1,
h2,
h3{
    color:#EF6536;
    text-transform: capitalize;
}
h2,
h3{
    text-align: center;
}

h3{
    font-size: 1em;
}
header,
section{
    margin: 2em 0;
}

/* header section w/ brand, txt and nav */

header,
.top p,
.menu, 
.walkers{
    text-align: center;
}

.top img{
    margin:0 0 4em 0;
}


/* nav links */
.nav-link{
    color:#EF6536;
}
.nav-link:hover{
    color:#30506E;
}

/* three-column block */

.menu img{
    margin: 2em 0;
}

/* about section */

.about{
    background: rgb(241, 237, 237);
    padding: 1em;
}

.about img{
    margin:0 auto;
    display: block;
}

.walkers .col-md-3 {
    margin: 1em 0;
} 
